*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  padding: 20px;
  border: 1px solid #28A745;
  border-radius: 10px;
  background-color: #D9D9D9;
}
.calculator form input{
  border: none;
  outline: none;
  width: 60px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}
.calculator form{
  position: relative;
}
form .dis{
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
}
form .dis input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  padding: 5px;
  color: white;
  background-color: #333333;

}
.calculator form input:hover{
  opacity: 0.9;
  color: #000;
}
::placeholder{
  color: #ffffff;
  font-size: 45px;
}
.clear{
  position: absolute;
  right: 0;
  background-color: red;
  color:#fff;
}
.bot{
  margin-top: 90px;

}
.nums{
  background-color: gray;
  color: #fff;
  margin-right: 5px;
}
.op{
  background-color: orange;
  color: #fff;
}
.equal{
  background-color: #28A745;
  color: #fff;
  margin-right: 5px;
}
